@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    box-sizing: border-box;
}
body{
    background-color: #fff;
    font-family: 'Roboto',sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 0;
    overflow-y: scroll;
}


.btnf{
    background-color: #371172;
    color: #fff;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1),0 6px 6px rgba(0, 0, 0, 0.1);
    padding: 14px 40px;
    cursor: pointer;
    font-size: 20px;
}

.nav{
    background-color: #fff;
    width: 100vw;
    height: 70px;
    border-bottom: 1px #DFDDDD solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-nav{
    cursor: pointer;
    display: inline-block;
    background: #848484;
    padding: 15px;
    font-family: inherit;
    font-size: 16px;
    border: 0;
    border-radius: 5px;
}
.btsn{
    cursor: pointer;
    display: inline-block;
    width: 100%;
    background: #848484;
    padding: 15px;
    font-family: inherit;
    font-size: 16px;
    border: 0;
    border-radius: 5px;
}
.logo{
    height: 30px;
    width: 30px;
    transform: translate(20px,-5px);
}

.btn-crud{
    background-color: #fff;
    color: #371172;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1),0 6px 6px rgba(0, 0, 0, 0.1);
    padding: 14px 40px;
    font-size: 20px;
    cursor: pointer;
}
.menu{
    background-color: #fff;
    width: 100vw;
    height: 70px;
    border-bottom: 1px #DFDDDD solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.crud{
    display: flex;
    gap: 10px;
}


.search{
    position: relative;
    height: 50px;
}


.search .input{
    background-color: #fff;
    border: 0;
    font-size: 18px;
    padding: 15px;
    height: 50px;
    width: 50px;
    transition: width 0.3s ease;
}

.btn{
    background-color: #fff;
    border: 0;
    cursor: pointer;
    font-size: 24px;
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 50px;
    transition: transform 0.3s ease;
}

.btn:focus , .input:focus{
    outline: none;
}


.search.active .input{
    width: 200px;
}
.search.active .btn{
    transform: translateX(198px);
}


.tbs{
    border: solid 4px green;

}

table {
    background-color: rgba(0, 0, 0, 0.1);
    text-align: left;
    width: 100%;
}

thead {
    background: rgba(0, 0, 0, 0.2);
    justify-content: space-between;
    border-bottom: solid 5px black;
    color: black;
}

th,td{
    border: solid 1px rgba(0, 0, 0, 0.1);
    padding: 5px;
}

tr{
    cursor: pointer;
    
}
tbody tr:hover {
    background: rgba(0, 0, 0, 0.2);
}
tr:nth-child(odd){
   background: rgba(0, 0, 0, 0.1);
}

#datos{
    background-color: rgba(0, 0, 0, 0.4);
    padding: 20px 40px;
    border-radius: 5px;
    margin: 10px;
}


#venta{
    background-color: rgba(0, 0, 0, 0.1);
    padding: 20px 40px;
    border-radius: 5px;
}

.buton{
    background-color: #484F59;
    border-radius: 5px;
    border: none;
    color: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1),0 6px 6px rgba(0, 0, 0, 0.1);
    margin: 1rem;
    padding: .5rem 1rem;
    font-size: 1.2rem;
    font-family: inherit;
    cursor: pointer;
}
.nav-bus {
    
    display: flex;
    justify-content: space-between;
    align-items: center; /* Añade esto para centrar verticalmente los elementos */
    padding: 10px; /* Añade esto para dar espacio al contenido */
}

/* Puedes ajustar estilos adicionales según tus necesidades */
label, input, button {
    margin: 5px; /* Añade margen a los elementos según sea necesario */
}

.search {
    outline: none;
}



.bien:hover {
    transform: scale(1.05);
}
.bien{
    background-color: red;
    border: 0;
    cursor: pointer;
    font-size: 24px;
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 50px;
    transition: transform 0.3s ease;
}


.eliminar{
    color:#fff;
    cursor: pointer;
    transition: transform 0.3s ease; 
}

.eliminar:hover{
    transform: scale(1.05);
}